$mainColor: #4964da;
$subColor: #1fd0b0;

$button: #30314e;
$titlebox: #eceff5;
$box: #f5f7ff;

$fontMain: #191919;
$fontSub: #777777;
$pre: Pretendard;

$inputLine: #bcbcbc;
$iconLine: #ebebeb;
$sectionLine: #f3f3f3;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1200px;
